* {
  margin: 0;
}

.app{
background-color: white;
}

.app_posts{
  padding: 20px;
}

.app_header{
  background-color: #fafafa;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.app_headerImage{
  object-fit: contain;
  width: 120px;
}

.app_signup{
  display: flex;
  flex-direction: column;
}